h1 {
  font-size: 20px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 14px;
}

.court-row{
  border-top: 1px solid rgba(0, 0, 0, .5);
  border-bottom: 1px solid rgba(0, 0, 0, .5);
}

.court-list-group{
  width: 100%;
}

.court-profile {
  max-width: 100px;
  padding: 3px;
}

.admin-controls {
  margin-top: 15px;
}

.img-responsive {
  height: 100%;
  width: 100%;
}
