<!--render layout template -->
{% extends 'layout.html' %}

{% block content %}
<link rel="stylesheet" href="/static/styles/court_profile.css">

<div class="court-container">
  <div class="row">
    <div class="col-md card border-light court-title-card">
      <div class="card-body">
        <h1>
          {{ Court.name }}
          <!-- Fav Button -->

        </h1>

        <div class="row">

          <div class="col-md-3">
            <h2 class="text-muted">Rating: N/A{{Court.rating}}</h2>
          </div>

          <div class="col-md-6">
            {% if Court.membership_required == False %}
            <h2 class="text-muted">Public</h2>
            {% else %}
            <h2 class="text-muted">Private</h2>
            {% endif %}
          </div>
        </div>

        <hr>

        <div class="row justify-content-md-center">

          <div class="col text-center">
            <a class="btn btn-link favorite-btn" href="/favorite/{{Court.id}}">
              <img class="icons" src="/static/open-iconic/svg/bookmark.svg">
            </a>
            <span class="text-muted">Bookmark</span>

          </div>

          <div class="col text-center">
            <a class="btn btn-link favorite-btn" href="#">
              <img class="icons" src="/static/open-iconic/svg/star.svg">
            </a>
            <span class="text-muted">Rate</span>
          </div>

          <div class="col text-center">
            <a class="btn btn-link favorite-btn" href="/favorite/{{Court.id}}">
              <img class="icons" src="/static/open-iconic/svg/comment-square.svg">
            </a>
            <span class="text-muted">Review</span>

          </div>
        </div>

      </div>
    </div>

    <div class="col-md-4">
      <div id="carouselExampleInterval" class="carousel slide cart-carousel" data-ride="carousel">

        <div class="carousel-inner">
          {% if Court.images|length %}
          {% for image in Court.images %}
          <div class="carousel-item court-carousel-item item{% if loop.index == 1 %} active{% endif %}">
            <img class="d-block w-100 carousel-img" src="{{image}}">
          </div>
          {% endfor %}
          {% else %}
          <div class="carousel-item active">
            <img src="https://s3-media2.fl.yelpcdn.com/bphoto/rztnIqWOVqAXyj-mhnkSbQ/ls.jpg" class="d-block w-100" alt="...">
          </div>
          {% endif %}
        </div>

        <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

    </div>

  </div>
</div>


<div id="googleMap" style="width:100%;height:400px;"></div>

<script>
  function myMap() {

    var mapProp = {
      center:new google.maps.LatLng({{Court.latitude}},{{Court.longitude}}),
      zoom:14,
    };
    var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
    var marker = new google.maps.Marker({
      map: map,
      position: new google.maps.LatLng({{Court.latitude}},{{Court.longitude}}),
      map: map,
      title:"Hello World!"
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
    var contentString =
      '<div id="content">'+
      '<h1 id="firstHeading" class="firstHeading">{{Court.name}}</h1>'+
      '</div>';

    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5Sr3oT1HlWBky0ex_akZc-uuNUWy51E8&callback=myMap">
</script>

<!-- View Reviews -->
<div class="review-container">
  <h2 class="text-center"> Court Reviews </h2>
  {% for review in Reviews %}
  <hr>
  <div class="media">
    <img src="/static/images/basketball.png" class="review-profile-img" alt="...">
    <div class="media-body">
      <h2>
        <a href="/profile/{{review.user_id}}">{{review.username}}</a>
      </h2>
      <span class="text-muted"> {{review.date.strftime('%m/%d/%Y')}} </span>
      <p class="review">{{review.review}}</p>
    </div>
  </div>
  {% endfor %}
</div>


{% endblock %}
