<!--render layout template -->
{% extends 'layout.html' %}

{% block content %}

<!-- Search Implementation (non-functional) -->
<link rel="stylesheet" href="/static/styles/court.css">
<h1 style="text-align:center; margin-bottom: 30px; margin-top: -30px;">Courts Near You!</h1>

<div class="row court-row">
  <div class="list-group list-group-flush court-list-group">

    <!-- Generate X listings -->
    {% for court in Courts %}

    <a class="list-group-item list-group-item-action" href="/court/{{court.id}}">
      <div class="row">
        <div class="col court-profile">
          <img class="img-responsive" src="{{court.images[0]}}" onerror="this.onerror=null;this.src='/static/images/nocourtimage.jpg';">
        </div>

        <div class="col">
          <h1>{{ court.name }}</h1>
          <h2>Rating: N/A{{court.rating}}</h2>
          <h3 class="text-muted">{{ court.address }}</h3>
        </div>
      </div>
    </a>

    {% endfor %}


  </div>
</div>

<br>

{% if current_user.admin == True %}
<a href="/create/court" class="btn btn-primary btn-lg btn-block">
  Create-a-Court
</a>
{% endif %}

{% endblock %}
